<a href="https://colab.research.google.com/github/GuptaTanay/Customer-Churn-Attrition/blob/main/Bank_Customer_Attrition_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import files
# file  = files.upload()

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Reading the file
data = pd.read_csv('BankCustomers.csv')

In [4]:
# Visualize the columns
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
# Independant and Dependant feature split
X = data.iloc[:,3:-1]
Y = data.iloc[:,-1]

In [6]:
# Check which columns are Categorical
X.select_dtypes(include=['object'])

     Geography  Gender
0       France  Female
1        Spain  Female
2       France  Female
3       France  Female
4        Spain  Female
...        ...     ...
9995    France    Male
9996    France    Male
9997    France  Female
9998   Germany    Male
9999    France  Female

[10000 rows x 2 columns]

In [7]:
# Perform One Hot Encoding on Categorical features
states = pd.get_dummies(X.Geography, drop_first= True)
gender = pd.get_dummies(X.Gender, drop_first= True)

In [8]:
# Concat the X with OHE columns
X = pd.concat([X, states, gender], axis =1)
#axis = 1 represants concatenation at column level

In [9]:
#Visualize the data
X

      CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0             619    France  Female   42  ...        101348.88        0      0     0
1             608     Spain  Female   41  ...        112542.58        0      1     0
2             502    France  Female   42  ...        113931.57        0      0     0
3             699    France  Female   39  ...         93826.63        0      0     0
4             850     Spain  Female   43  ...         79084.10        0      1     0
...           ...       ...     ...  ...  ...              ...      ...    ...   ...
9995          771    France    Male   39  ...         96270.64        0      0     1
9996          516    France    Male   35  ...        101699.77        0      0     1
9997          709    France  Female   36  ...         42085.58        0      0     0
9998          772   Germany    Male   42  ...         92888.52        1      0     1
9999          792    France  Female   28  ...         38190.78        0      0     0

[10000 rows x 13 columns]

In [10]:
# Drop the categorical features
X.drop(['Geography', 'Gender'], axis =1, inplace = True)

In [11]:
X

      CreditScore  Age  Tenure  ...  Germany  Spain  Male
0             619   42       2  ...        0      0     0
1             608   41       1  ...        0      1     0
2             502   42       8  ...        0      0     0
3             699   39       1  ...        0      0     0
4             850   43       2  ...        0      1     0
...           ...  ...     ...  ...      ...    ...   ...
9995          771   39       5  ...        0      0     1
9996          516   35      10  ...        0      0     1
9997          709   36       7  ...        0      0     0
9998          772   42       3  ...        1      0     1
9999          792   28       4  ...        0      0     0

[10000 rows x 11 columns]

In [12]:
# Perform train test split
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X, Y, test_size= 0.2, random_state = 98)

In [13]:
# Perform feature scaling to Gaussian Normal distribution
# import sklearn
# dir(sklearn)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_X = scaler.fit_transform(train_X)
test_X = scaler.transform(test_X)

In [14]:
# Visualise the scaled data set in the form of a dataset
visualise_df = pd.DataFrame(train_X, columns = X.columns)
visualise_df

      CreditScore       Age    Tenure  ...   Germany     Spain      Male
0        1.118214 -0.660286  0.698533  ... -0.576196 -0.571769 -1.093339
1       -0.251047 -0.850372 -0.681882  ...  1.735522 -0.571769  0.914630
2       -0.086324 -0.185072  0.353429  ... -0.576196 -0.571769  0.914630
3       -1.651194  2.761256 -1.372090  ...  1.735522 -0.571769 -1.093339
4        1.025557  1.430656  1.388741  ...  1.735522 -0.571769  0.914630
...           ...       ...       ...  ...       ...       ...       ...
7995    -0.879054 -0.850372  0.008326  ... -0.576196 -0.571769  0.914630
7996     0.098990  0.195099  0.008326  ... -0.576196  1.748958 -1.093339
7997    -0.106914 -0.755329  1.733845  ... -0.576196 -0.571769  0.914630
7998     0.088694 -0.470201  1.043637  ... -0.576196 -0.571769  0.914630
7999     1.643269  0.100056 -1.372090  ... -0.576196 -0.571769  0.914630

[8000 rows x 11 columns]

In [ ]:
# Change the shape for the LSTM
train_X = np.reshape(train_X, (train_X.shape[0], train_X.shape[1], 1))

## Let us create LSTM now!

In [15]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [16]:
# Initialise the LSTM 

classifier = Sequential()

In [17]:
classifier.add(LSTM(units = 50, return_sequences = True, input_shape = (train_X.shape[1],1)))
classifier.add(Dropout(0.2))

classifier.add(LSTM(units = 50, return_sequences = True))
classifier.add(Dropout(0.2))

classifier.add(LSTM(units = 50, return_sequences = True))
classifier.add(Dropout(0.2))

classifier.add(LSTM(units = 50))
classifier.add(Dropout(0.2))

classifier.add(Dense(units = 1))

classifier.compile(optimizer = 'adam', loss = 'mean_squared_error')

classifier.fit(train_X, train_y, epochs = 100, batch_size = 32)

Epoch 1/100
250/250 [==============================] - 27s 20ms/step - loss: 0.1682
Epoch 2/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1558
Epoch 3/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1512
Epoch 4/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1468
Epoch 5/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1460
Epoch 6/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1398
Epoch 7/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1386
Epoch 8/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1341
Epoch 9/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1246
Epoch 10/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1226
Epoch 11/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1281
Epoch 12/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1204
Epoch 13/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1177
Epoch 14/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1213
Epoch 15/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1171
Epoch 16/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1184
Epoch 17/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1139
Epoch 18/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1142
Epoch 19/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1102
Epoch 20/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1164
Epoch 21/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1120
Epoch 22/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1124
Epoch 23/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1106
Epoch 24/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1120
Epoch 25/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1105
Epoch 26/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1132
Epoch 27/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1073
Epoch 28/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1106
Epoch 29/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1053
Epoch 30/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1072
Epoch 31/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1048
Epoch 32/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1077
Epoch 33/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1064
Epoch 34/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1054
Epoch 35/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1048
Epoch 36/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1046
Epoch 37/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1053
Epoch 38/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1031
Epoch 39/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1042
Epoch 40/100
250/250 [==============================] - 5s 19ms/step - loss: 0.0996
Epoch 41/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1043
Epoch 42/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1033
Epoch 43/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1022
Epoch 44/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1009
Epoch 45/100
250/250 [==============================] - 5s 19ms/step - loss: 0.1028
Epoch 46/100
250/250 [==============================] - 5s 19ms/step - loss: 0.0991
Epoch 47/100
250/250 [==============================] - 5s 20ms/step - loss: 0.1000
Epoch 48/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0957
Epoch 49/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0963
Epoch 50/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0933
Epoch 51/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0993
Epoch 52/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0954
Epoch 53/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0933
Epoch 54/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0980
Epoch 55/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0974
Epoch 56/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0918
Epoch 57/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0942
Epoch 58/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0939
Epoch 59/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0910
Epoch 60/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0921
Epoch 61/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0936
Epoch 62/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0893
Epoch 63/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0928
Epoch 64/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0914
Epoch 65/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0887
Epoch 66/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0868
Epoch 67/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0901
Epoch 68/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0894
Epoch 69/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0875
Epoch 70/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0836
Epoch 71/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0865
Epoch 72/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0840
Epoch 73/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0881
Epoch 74/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0847
Epoch 75/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0837
Epoch 76/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0799
Epoch 77/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0816
Epoch 78/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0838
Epoch 79/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0793
Epoch 80/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0766
Epoch 81/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0754
Epoch 82/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0810
Epoch 83/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0795
Epoch 84/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0734
Epoch 85/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0746
Epoch 86/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0765
Epoch 87/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0693
Epoch 88/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0755
Epoch 89/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0743
Epoch 90/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0736
Epoch 91/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0704
Epoch 92/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0680
Epoch 93/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0684
Epoch 94/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0742
Epoch 95/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0668
Epoch 96/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0664
Epoch 97/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0704
Epoch 98/100
250/250 [==============================] - 5s 21ms/step - loss: 0.0644
Epoch 99/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0678
Epoch 100/100
250/250 [==============================] - 5s 20ms/step - loss: 0.0694

In [20]:
# Change the shape for LSTM
test_X = np.reshape(test_X, (test_X.shape[0], test_X.shape[1], 1))

In [21]:
pred_y = classifier.predict(test_X)

In [22]:
pred_y = (pred_y > 0.5)

## Let us check the accuracy now!

In [23]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [24]:
cm = confusion_matrix(test_y, pred_y)
cm

array([[1467,  114],
       [ 200,  219]])

In [25]:
accuracy = accuracy_score(test_y, pred_y)
accuracy

0.843